<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD TEST</title>
    </head>    
    <body>
        <center>
        <div class="CREATE">
            <h2>CREATE</h2>
            <form method="post">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" required>
                <label for="LastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" required>
                <label for="pwd">Password:</label>
                <input type="text" name="pwd" id="pwd" required>
                <input type="submit" value="Create">
            </form>  
        </div>
        <div class="url">
            <a href="{{url_for('index')}}">INDEX</a>
            <a href="{{url_for('read')}}">READ</a>
            <!-- TODO:DELETE -->
        </div>
        {% if msg %}
        <div class="msg">{{msg}}</div>
        {% endif %}
        </center>
    </body>
</html>