<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD TEST</title>
    </head>    
    <body>
        <center>
        <div class="DELETE">
            <h2>DELETE</h2>
            <h3>DELETED INGREDIENT IN PANTRY:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Pantry Id</th>
                        <th>Ingredient Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Purchase Date</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                {% if item %}
                <tbody>
                    <tr>
                      <td>{{item['pantryId']}}</td>   
                      <td>{{item['name']}}</td> 
                      <td>{{item['qty']}}</td> 
                      <td>{{item['unit']}}</td> 
                      <td>{{item['pdate']}}</td> 
                      <td>{{item['edate']}}</td> 
                    </tr>    
                </tbody>
                {% endif %}
            </table>
        </div>
        <div class="url">
            <a href="{{url_for('home')}}">HOME</a>
            <a href="{{url_for('pantry')}}">PANTRY</a>
            <a href="{{url_for('logout')}}">LOGOUT</a>
        </div>
        {% if msg %}
        <div class="msg">{{msg}}</div>
        {% endif %}
        </center>
    </body>
</html>