<!DOCTYPE html>
<HTML lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CRUD TEST</title>
    </head>
    <style>
          body {
      background-color: #db9d47;
      margin: 0;
      padding: 0;
      font-family: helvetica;
    }
    .header a {
            margin-top: 5px;
            margin-left: 5px;  
        }

    .button {
      color: black;
      background-color: transparent;
      border-color: transparent;
    }
    .button:hover {
      color: #289cd1;
    }
    </style>
    <body>
        <div class = "header">
            <a href = "{{url_for('frontpage')}}"><img src = "https://res.cloudinary.com/cookingpapa/image/upload/v1606153796/images/logo_pxqsex.png" alt=cookingpapalogo style="width: 250px; height: auto;"></a>
        </div>
        <center>
            <div>
                <h2>Recipes based on what you have in your pantry</h2>
            </div>
        </center>
    </body>
</HTML>