
/*body {
    margin: 0;
    padding: 0;
    background-color: #ffc543;
    font-family: helvetica;

}
.LOGIN {
    width: 250px;
    height: auto;
    padding: 20px 30px;
    background-color: #289cd1;
    border-radius: 10px;
    color: black;
    position: absolute;
    
}*/