<!DOCTYPE html>
<HTML lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CRUD TEST</title>
    </head>
    <style>
          body {
      background-color: #ffc543;
      margin: 0;
      padding: 0;
      font-family: helvetica;
    }
    .header a {
        font-family: helvetica;
        font-size: 30px;
        margin-top: 5px;
        margin-left:5px;
        color: #d6970f;
        font-weight: bold;
        text-decoration: none;
    }

    .button {
      color: black;
      background-color: transparent;
      border-color: transparent;
    }
    .button:hover {
      color: #289cd1;
    }
    </style>
    <body>
        <div class = "header">
            <a href = "{{url_for('frontpage')}}">cookingpapa</a>
        </div>
        <center>
        <h2>HOME</h2>
        {% if userName %}
        <h3>USER NAME: {{userName}}</h3>
        {% endif %}
        <div>
            <a href="{{url_for('pantry')}}"><button class="button">PANTRY</button></a>
            <a href="{{url_for('showRecipeDetails')}}"><button class="button">FIND NEW RECIPES</button></a>
            <a href="{{url_for('logout')}}"><button class="button">LOGOUT</button></a>
        </div>
        </center>
    </body>
</HTML>