
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <center>
    <h2>Add Ingredients to Pantry</h2>
    <form id="insertIngredient" method="post">
        <!-- <input type="radio" name="radiogroup" value="yes">Yes <input type="radio" name="radiogroup" value="no" checked>No -->
        <p>
            <div class="ui-widget">
                <input type="text" id = "livebox" name = "ingredient_name">
                <p id = "datalist"></p>
            </div>
            <input type="submit" value="Insert">
        </p>
    </form>
    <br>
    <div id="successAlert" role="alert"></div>
    <div id="errorAlert" role="alert"></div>
    </center>
</body>
<script>
    $(document).ready(function() {
        $("#livebox").on("input",function(e){
            textinlivebox = $("#livebox").val();
            // console.log(textinlivebox); // checks that text will update live while user types
            // Start ajax code
            $.ajax({
                method:"post",
                url:"/live-search",
                data:{text:textinlivebox}, // data:{backend_name:frontend_name}
                // if successful write the results from app.py
                success:function(res){
                    // console.log(res) // checks that app.py returns jsonified results from query into res
                    /*var data = "<ul>";
                    $.each(res,function(index,value){
                        // <li><a href="#">value</a></li>
                        data += '<li><a href="#">';
                        data += value.name;
                        data += '</a></li>';
                    });
                    data += "</ul>";
                    $("#datalist").html(data);
                    */
                    var availableOptions = []
                    $.each(res,function(index,value){
                        availableOptions.push(value.name);
                    });
                    $("#livebox").autocomplete({
                        source: availableOptions
                    })
                }
            })
        })
    })
    $(document).on("submit","form", function(event){
        event.preventDefault();
        
            $.ajax({
                data: {ingredient: $('#livebox').val()},
                type: "POST",
                url: "/live-search-insert"
            })
            .done(function(data){
                if (data.error){
                    $('#errorAlert').text(data.error).show();
                    $('#successAlert').hide();
                }
                else{
                    $('#successAlert').text(data.name).show();
                    $('#errorAlert').hide();
                }
            })
    })
</script>
</html>