<!-- <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD TEST</title>
    </head>    
    <body>
        <center>
            <h2>PANTRY</h2>
            <h3>USER NAME: {{userName}}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Ingredient Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Purchase Date</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in output %}
                    <tr>
                      <td>{{item['name']}}</td>   
                      <td>{{item['qty']}}</td> 
                      <td>{{item['unit']}}</td> 
                      <td>{{item['pdate']}}</td> 
                      <td>{{item['edate']}}</td> 
                      <td><a href="{{url_for('updatePantry', item=item)}}"><button></button>UPDATE</button></a></td>
                      <td><a href="{{url_for('deletePantry', item=item)}}" onclick="return confirm('Are you sure for the deletion?')"><button>DELETE</button></a></td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{url_for('home')}}"><button>HOME</button></a>
                <a href="{{url_for('pantryadd')}}"><button>ADD</button></a>
                <a href="{{url_for('logout')}}"><button>LOGOUT</button></a>
            </div>
        </center>
    </body>
</html> -->
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Pantry</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <style>
     body {
      background-color: #db9d47;
      margin: 0;
      padding: 0;
      font-family: helvetica;
      color: #463F3a
      /*border-top: 30px solid #ccc; */

    }
    .header a {
        margin-top: 5px;
        margin-left: 5px; 
    }
    .url a, .url a:visited {
      text-decoration: none;
      font-weight: bold;
      position: fixed;
      top: 10px;
      color: black;
    }
    .url a:hover {
      color: #289cd1;
    }
    .button {
      border-radius: 5px;
      background-color:transparent;
      border: none;
      color: #463F3a;
      padding: 5px;

    }
    .button:hover {
      color: white;
    }

  </style>
  <body>
    <div class = "header">
      <a href = "{{url_for('home')}}"><img src = "https://res.cloudinary.com/cookingpapa/image/upload/v1606153796/images/logo_pxqsex.png" alt=cookingpapalogo style="width: 250px; height: auto;"></a>
  </div>
    <center>
      <h2>PANTRY</h2>
      <h3>User Name: {{userName}}</h3>
      <table>
        <thead>
          <tr>
            <th>Ingredient Name</th>
            <th>Unit</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for item in output %}
          <tr>
            <td>{{item['name']}}</td>
            <td>{{item['unit']}}</td>
            <td>{{item['qty']}}</td>
            <td><a href="{{url_for('updatePantry', item=item)}}"><button class=button>Update</button></a></td>
            <td>
              <a
                href="{{url_for('deletePantry', item=item)}}"
                onclick="return confirm('Are you sure for the deletion?')"
                ><button class="button">Delete</button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class ="url">
        <!--<a href="{{url_for('home')}}">HOME</a>-->
        <a style="right: 230px;" href="{{url_for('pantryadd')}}">Add</a>
        <a style="right: 110px;" href="{{url_for('checkDate')}}">Check Expiry</a>
        <a style="right: 30px;" href="{{url_for('logout')}}">Logout</a>
        <a style="right: 45%;" href="{{url_for('explore')}}">Explore</a>
        <a style="left: 45%;" href="{{url_for('favorite')}}">Favorite</a>
      </div>
    </center>
  </body>
</html>
