<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD TEST</title>

    </head> 
    <style>
        body {
    background-color: #ffc543;
    margin: 0;
    padding: 0;
    font-family: helvetica;
  }
  .header a {
      font-family: helvetica;
      font-size: 30px;
      margin-top: 5px;
      margin-left:5px;
      color: #d6970f;
      font-weight: bold;
      text-decoration: none;
  }
    </style>   
    <body>
        <div class = "header">
            <a href = "{{url_for('frontpage')}}">cookingpapa</a>
        </div>
        <center>
            <h2>READ</h2>
            <table>
                <thead>
                    <tr>
                        <th>userId</th>
                        <th>userName</th>
                        <th>password</th>
                        <th>update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in output %}
                    <tr>
                      <td>{{item['userId']}}</td>   
                      <td>{{item['userName']}}</td> 
                      <td>{{item['pwd']}}</td> 
                      <td><a href="{{url_for('update', userId=item['userId'] )}}">UPDATE</a></td>
                      <td><a href="{{url_for('delete', userId=item['userId'] )}}" onclick="return confirm('Are you sure for the deletion?')">DELETE</a></td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{url_for('index')}}"><button>INDEX</button></a>
                    
                <a href="{{url_for('register')}}">REGISTER</a>
                
            </div>
            
        </center>
    </body>
</html>