<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD TEST</title>
    </head>    
    <body>
        <center>
            <h2>READ</h2>
            <table>
                <thead>
                    <tr>
                        <th>userId</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>pwd</th>
                        <th>update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in output %}
                    <tr>
                      <td>{{item['userId']}}</td>   
                      <td>{{item['firstName']}}</td> 
                      <td>{{item['lastName']}}</td> 
                      <td>{{item['pwd']}}</td> 
                      <td><a href="{{url_for('update', userId=item['userId'] )}}">UPDATE</a></td>
                      <td><a href="{{url_for('delete', userId=item['userId'] )}}" onclick="return confirm('Are you sure for the deletion?')">DELETE</a></td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{url_for('index')}}">HOME</a>
                <a href="{{url_for('create')}}">CREATE</a>
            </div>
        </center>
    </body>
</html>